:root {
    --background-color: #F6F8F6;
    --white-color: #ffffff;
    --black-color: #202123;
    --line: 1px solid rgba(0, 0, 0, 0.1);
}

.wrap {
    min-width: 320px;
}

#Header {
    height: 120px;
}

#Header .header_wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    display: flex;
    flex-direction: column;

    background-color: var(--background-color);
}

#Header .header_wrap.on {
    border-bottom: var(--line);
}

#Header .logo_area {
    order: 2;
    border-top: var(--line);
}

#Header .logo_area h1 {
    position: relative;
    z-index: 999;
}

#Header .logo_area .inner {
    display: flex;
    justify-content: space-between;
    line-height: 90px;
}

#Header .logo_area img {
    width: 150px;
}

#Header .logo_area .gnb>ul {
    display: flex;
    gap: 40px;
}

#Header .logo_area .gnb>ul>li>a {
    display: block;

    font-size: 18px;
    font-weight: 500;

    white-space: nowrap;
}

#Header .util_area .inner {
    display: flex;
    gap: 15px;
    justify-content: right;
}

#Header .util_area a {
    display: block;

    font-size: 12px;
    line-height: 30px;
}

#Header .util_area .icon {
    font-size: 22px;
    font-weight: 300;

    vertical-align: -6px;
}

#Header .header_wrap.on .util_area {
    height: 0;
    overflow: hidden;
}

.m_open {
    position: fixed;
    top: 25px;
    right: 15px;
    z-index: 999;

    width: 40px;
    height: 40px;

    border: none;
    background: var(--background-color);
    border: var(--line);
    cursor: pointer;

    display: none;
}

@media(max-width:1200px) {

    /* r */
    #Header {
        height: 90px;
    }

    /* r */
    #Header.on .header_wrap::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        height: 100vh;

        background: rgba(0, 0, 0, 0.9);
    }

    /* r */
    #Header .logo_area .gnb {
        position: fixed;
        top: 0;
        left: -100%;

        width: calc(100% - 90px);
        height: 100vh;

        background: var(--background-color);
        border-right: var(--line);

        padding: 120px 24px;
        transition: left 0.5s;
    }

    /* r */
    #Header.on .logo_area .gnb {
        left: 0;
    }

    #Header .logo_area .gnb>ul {
        display: flex;

        /* r */
        flex-direction: column;
        gap: 0;
    }

    #Header .logo_area .gnb>ul>li>a {
        display: block;

        font-size: 18px;
        font-weight: 500;

        white-space: nowrap;

        /* r */
        line-height: 60px;
        border-bottom: var(--line);
    }

    /* r */
    #Header .util_area {
        position: fixed;
        bottom: 24px;
        left: -100%;

        width: calc(100% - 90px);
        transition: left 0.5s;
    }

    /* r */
    #Header.on .util_area {
        left: 0;
    }

    /* r */
    #Header .util_area .inner {
        gap: 4px;
    }

    #Header .util_area a {
        display: block;

        font-size: 12px;
        line-height: 30px;

        /* r */
        font-size: 0;
        border: var(--line);
    }

    /* r */
    #Header .util_area .icon {
        font-size: 32px;
        padding: 8px;
    }

    /* r */
    #Header .header_wrap.on .util_area {
        height: auto;
        overflow: visible;
    }

    /* r */
    .m_open {
        display: block;
    }
}











.MainVisual .visual_slide .itm {
    height: calc(100vh - 120px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.MainVisual .visual_slide .itm01 {
    background-image: url(../images/main_slide01.jpg);
}

.MainVisual .visual_slide .itm02 {
    background-image: url(../images/main_slide03.jpg);
}

.MainVisual .visual_slide .itm03 {
    background-image: url(../images/main_slide02.jpg);
}

.MainVisual .visual_slide .itm .visual_slide_vid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.MainVisual .slide_nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    background: rgba(0, 0, 0, 0.2);
}

.MainVisual .slide_nav .nav_con {
    display: flex;
}

.MainVisual .slide_nav .text_box {
    flex: 1;
    color: rgba(255, 255, 255, 0.2);

    padding: 56px 0 24px 0;
    transition: transform 0.5s;
    cursor: pointer;
}

.MainVisual .slide_nav .text_box:hover {
    color: var(--white-color);
}

.MainVisual .slide_nav .text_box.on {
    color: var(--white-color);
    transform: translateY(-25px);
}

.MainVisual .slide_nav .text_box.on p {
    margin: 0 0 24px 0;
}

.MainVisual .slide_nav .text_box .more_btn {
    display: none;

    color: var(--white-color);
    border: none;

    border: 1px solid rgba(255, 255, 255, 0.5);
}

.MainVisual .slide_nav .text_box .more_btn:hover {
    background: var(--white-color);
    color: var(--black-color);
}

.MainVisual .slide_nav .text_box.on .more_btn {
    display: inline-block;
}

.MainVisual .slide_nav .text_box span {
    display: block;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Noto Serif', serif;

    margin: 0 0 8px 0;
}

.MainVisual .slide_nav .text_box strong {
    display: block;
    font-size: 20px;
    font-weight: 600;

    margin: 0 0 24px 0;
}

.MainVisual .slide_nav .text_box p {
    font-size: 14px;
    font-weight: 300;
    word-break: keep-all;
}

.MainVisual .slide_nav .nav_arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 700px;
    width: 100%;
    padding: 0 15px;

    display: none;
}

.MainVisual .slide_nav .nav_arrows .left {
    position: absolute;
    left: 0;
    transform: translate(0, -50%);
    cursor: pointer;
}

.MainVisual .slide_nav .nav_arrows .right {
    position: absolute;
    right: 0;
    transform: translate(0, -50%);
    cursor: pointer;
}

.MainVisual .slide_nav .nav_arrows .icon {
    font-size: 64px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.2);
}

.MainVisual .slide_nav .nav_arrows .icon:hover {
    color: var(--white-color);
}

@media(max-width:1200px) {
    .MainVisual .visual_slide .itm {
        height: calc(100vh - 90px);
    }

    .MainVisual .slide_nav .nav_con {
        gap: 30px;
    }

    .MainVisual .slide_nav .text_box .more_btn {
        padding: 16px 32px;
    }

    .MainVisual .slide_nav .text_box span {
        font-size: 16px;
    }

    .MainVisual .slide_nav .text_box strong {
        font-size: 16px;
    }

    .MainVisual .slide_nav .text_box p {
        font-size: 12px;
        line-height: 16px;
    }
}

@media(max-width:768px) {
    .MainVisual .visual_slide .itm {
        height: 70vh;
    }

    .MainVisual .slide_nav {
        bottom: 20.5vh;
    }

    .MainVisual .slide_nav .text_box {
        display: none;
        text-align: center;
    }

    .MainVisual .slide_nav .text_box.on {
        display: block;
    }

    .MainVisual .slide_nav .text_box .more_btn {
        padding: 16px 40px;

    }

    .MainVisual .slide_nav .text_box span {
        font-size: 20px;
    }

    .MainVisual .slide_nav .text_box strong {
        font-size: 20px;
    }

    .MainVisual .slide_nav .text_box p {
        font-size: 14px;
    }

    .MainVisual .slide_nav .nav_arrows {
        display: block;
    }
}

@media(max-width:500px) {
    .MainVisual .slide_nav .nav_arrows {
        display: none;
    }
}








.MainCompany {
    background: var(--background-color);
}

.MainCompany .title {
    padding: 0 0;
}

.MainCompany .title strong {
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 8px 0;
}

.MainCompany .title h2 {
    margin: 0 0 0 0;
}

.MainCompany .company_con {
    display: flex;
    gap: 30px;
}

.MainCompany .company_con>* {
    flex: 1 1 0;
}

.MainCompany .company_con .left {
    position: relative;
    padding: 48px 0;
}

.MainCompany .company_con .left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 64px;
    height: 1px;

    background: rgba(0, 0, 0, 0.2);
}

.MainCompany .company_con .left p {
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 12px 0;
    word-break: keep-all;
}

.MainCompany .company_con .left span {
    display: block;
    font-weight: 700;
    margin: 0 0 40px 0;
    word-break: keep-all;
}

.MainCompany .company_con .right {
    background: url(../images/main_company_img.jpeg) no-repeat center center/cover;
}

@media(max-width:768px) {
    .MainCompany .company_con .left {
        text-align: center;
    }

    .MainCompany .company_con .left::before {
        display: none;
    }

    .MainCompany .company_con .left .title {
        text-align: center;
    }

    .MainCompany .company_con .right {
        display: none;
    }

    .MainCompany .company_con .left p br:nth-of-type(2) {
        display: none;
    }
}

@media(max-width:355px) {
    .MainCompany .company_con .left span {
        line-height: 20px;
    }
}











.MainCollection {
    position: relative;
    background: var(--background-color);
}

.MainCollection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(0, -50%);

    width: 1px;
    height: 64px;

    background: rgba(0, 0, 0, 0.2);
}

.MainCollection .title {
    text-align: center;
}

.MainCollection .collection_con {
    display: flex;
    gap: 40px 30px;
    flex-wrap: wrap;
}

.MainCollection .collection_con>* {
    flex: 1 0 31%;
    text-align: center;
}

.MainCollection .collection_con .content figure {
    margin: 0 0 16px 0;
}

.MainCollection .collection_con .content strong {
    display: block;
    margin: 0 0 24px 0;
    font-weight: 600;
}

@media(max-width:845px) {
    .MainCollection .title p {
        line-height: 20px;
    }
}










.MainLab {
    position: relative;
    background: var(--background-color);
    overflow: hidden;
}

.MainLab::before {
    content: "";
    position: absolute;
    top: 100px;
    left: calc((100% - 1200px)/2 + 15px);
    width: calc(100% - calc((100% - 1200px)/2 + 15px));
    height: calc(100% - 100px);

    background: url(../images/main_lab_bg.png) no-repeat;

    opacity: 0.05;
}

.MainLab::after {
    content: "";
    position: absolute;
    top: 850px;
    right: calc((100% - 1200px)/2 + 70px);

    width: 1px;
    height: 800px;

    background: rgba(0, 0, 0, 0.05);
}

.MainLab .content {
    display: flex;
    gap: 130px;

    margin: 0 0 32px 0;
}

.MainLab .content>* {
    flex: 0 1 370px;
}

.MainLab .content figure {
    position: relative;
}

.MainLab .content:nth-of-type(2) figure,
.MainLab .content:nth-of-type(4) figure {
    order: 2;
}

.MainLab .content:nth-of-type(1) figure::after,
.MainLab .content:nth-of-type(3) figure::after {
    content: "";
    position: absolute;
    top: 84px;
    right: -65px;

    width: 100px;
    height: 1px;

    background: rgba(0, 0, 0, 0.2);
}

.MainLab .content:nth-of-type(2) figure::after,
.MainLab .content:nth-of-type(4) figure::after {
    content: "";
    position: absolute;
    top: 84px;
    left: -65px;

    width: 100px;
    height: 1px;

    background: rgba(0, 0, 0, 0.2);
}

.MainLab .content .text_box {
    padding: 64px 0;
}

.MainLab .content:nth-of-type(2) .text_box,
.MainLab .content:nth-of-type(4) .text_box {
    padding: 64px 0 0 32px;
}

.MainLab .content .text_box strong {
    display: block;

    font-size: 18px;
    font-weight: 700;

    margin: 0 0 24px 0;
}

.MainLab .content .text_box p {
    font-size: 14px;
    line-height: 18px;
    word-break: keep-all;
}

@media(max-width:1200px) {
    .MainLab {
        overflow: visible;
    }

    .MainLab::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(0, -50%);
        z-index: 1;

        width: 1px;
        height: 64px;

        background: rgba(0, 0, 0, 0.2);
        opacity: 1;
    }

    .MainLab::after {
        display: none;
    }

    .MainLab .title {
        text-align: center;
    }

    .MainLab .lab_con {
        display: flex;
        flex-wrap: wrap;
        gap: 40px 30px;
    }

    .MainLab .content {
        flex: 1 0 47%;

        flex-direction: column;
        gap: 24px;

        margin: 0 0 0 0;
    }

    .MainLab .content>* {
        flex: 1;
    }

    .MainLab .content figure {
        position: relative;
    }

    .MainLab .content:nth-of-type(2) figure,
    .MainLab .content:nth-of-type(4) figure {
        order: 1;
    }

    .MainLab .content:nth-of-type(2) .text_box,
    .MainLab .content:nth-of-type(4) .text_box {
        order: 2;
    }

    .MainLab .content:nth-of-type(1) figure::after,
    .MainLab .content:nth-of-type(3) figure::after {
        display: none;
    }

    .MainLab .content:nth-of-type(2) figure::after,
    .MainLab .content:nth-of-type(4) figure::after {
        display: none;
    }

    .MainLab .content .text_box {
        padding: 0 16px;
    }

    .MainLab .content:nth-of-type(2) .text_box,
    .MainLab .content:nth-of-type(4) .text_box {
        padding: 0 16px 0 16px;
    }

    .MainLab .content .text_box strong {
        margin: 0 0 14px 0;
    }
}











#Footer {
    padding: 40px 0 60px 0;
    background: var(--black-color);
    color: var(--white-color);
}

#Footer .footer_top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0 0 20px 0;
}

#Footer .footer_top .site_map {
    display: flex;
    gap: 60px;
}

#Footer .footer_top .site_map dt {
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 12px 0;
}

#Footer .footer_top .site_map dd {
    font-size: 12px;
    font-weight: 200;
    line-height: 20px;
}

#Footer .footer_top .sns {
    display: flex;
    gap: 8px;
    align-items: center;
}

#Footer .footer_top .sns a {
    display: block;
}

#Footer .footer_top .sns i {
    font-size: 28px;
    color: rgba(255, 255, 255, 0.75);
}

#Footer .footer_top .sns img {
    max-width: 24px;
}

#Footer .footer_bottom {
    padding: 20px 0 0 0;
}

#Footer .footer_bottom .info>ul>li {
    font-size: 12px;
    font-weight: 200;
    margin: 0 0 8px 0;

    word-break: keep-all;
}

@media(max-width:768px) {
    #Footer .footer_top {
        flex-direction: column;
        gap: 32px;
    }

    #Footer .footer_top .site_map {
        flex-wrap: wrap;
        gap: 30px;
        white-space: nowrap;
    }
}

@media(max-width:578px) {
    #Footer .footer_bottom .info>ul>li {
        line-height: 16px;
    }
}





#SubPage .sub_head {
    min-height: 400px;
    background: url(../images/sub_page04_bg.jpg) no-repeat center center/cover;
    display: flex;
    align-items: center;
}

#SubPage .sub_head strong {
    display: block;

    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0 15px;

    text-align: center;
    font-family: 'Noto Serif', serif;
    font-size: 40px;
    color: var(--white-color);
}

#SubPage .sub_content .title {
    text-align: center;

}

#SubPage .sub_content .title h2 {
    font-family: "Pretendard Variable";

}

#SubPage .sub_content .title p {
    line-height: 20px;
}